@media (min-width: 600px) {
    nav {
        display: flex;
        justify-content: space-around;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
    }
    
    nav ul li {
        display: inline;
    }
    
    #hero img {
        width: 100%;
        height: auto;
    }
    
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (min-width: 1000px) {
    nav ul {
        display: flex;
        justify-content: flex-end;
    }
    
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}
